<div id="banner-area" class="banner-area" style="background-image:url(assets/images/sk.jpg)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Substance Abuse Services</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page" >Substance Abuse</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
<section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
        <h3 class="widget-title" style="color: #24b0ed;">Welcome</h3>
        <p style="text-align: justify;font-size: 14px;" >The Section aims to provide and address Substance Abuse and Life Skills problems of students and staff during their academic and social life at CUT. Rehabilitation services are free at CUT and comprehensive quality services in terms of Psychological, Social and Emotional Counselling are provided to students, staff and parents in a free and conducive environment. We strive to be the best and leading anti - drug and alcohol abuse group to avoid risky social behaviour through the harm reduction concept at CUT, in Zimbabwe, Regionally and Internationally and to lead and co-ordinate a motivated team of students / peer rehabilitation educators centred on educational values with great endeavours to nature responsibility of anti- drugs, alcohol abuse and risky social behaviours by modelling an innovative, creative and effective rehabilitation services.</p>
        
        <br>
       
  
  
      </div><!-- Main row end -->
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->
  