<div id="banner-area" class="banner-area" style="background-image:url(assets/images/lo.png)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">About Us</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                   
                        <li class="breadcrumb-item active" aria-current="page">About Us </li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
  <section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
  
        <div class="col-lg-8 mb-5 mb-lg-0">
  
          <div class="post-content post-single">
          
  
            <div class="post-body">
              
              <div class="entry-content">
              
                <h2 style="color: #24b0ed;">Mission</h2>
                <blockquote>
                  <p style="text-align: justify;">To promote and support student centred education through developing and delivering services that enhance learning and contribute to the total educational experience of the students both on and off campus. This is achieved through creating and maintaining an environment that is conducive, encouraging and enhancing the learning process and students' personal development and maturation.
                      </p>
  
                </blockquote>
  
               <h2 style="color: #24b0ed;">Vision</h2>
                  
                <blockquote>
                    <p style="text-align: justify;">Be a leading Division of Student Affairs in Zimbabwe, the Region and Internationally.</p>
    
                  </blockquote>
              </div>
  
            
  
            </div><!-- post-body end -->
          </div><!-- post content end -->
  
      
  
          <!-- Post comment start -->
        
  
         
        </div><!-- Content Col end -->
  
  
      </div><!-- Main row end -->
  
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->