<div id="banner-area" class="banner-area" style="background-image:url(assets/images/clinic.jpeg)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Healthy Services</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page" >Healthy Services</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
<section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
        <h3 class="widget-title" style="color: #24b0ed;">Welcome</h3>
        <p style="text-align: justify;font-size: 14px;" >Welcome to the Section of Health Services. Student Health Service is one of the Student Affairs section responsible for offering health services to the university community. Its operational centre is housed in the university clinic. The clinic is a registered industrial clinic offering comprehensive primary health care to students, staff and visitors. The clinic is located within the main university campus, adjacent to the canteen. The clinic offers services seven days a week, twelve (12) hours Monday to Fridays and four (4) hours on weekends during the semester. During semester vacation the clinic is open Monday to Fridays 08.00 to 16.30 hours. One needs a valid medical aide to access services from the clinic.</p>
        
        <br>
        <div class="accordion accordion-group accordion-classic" id="safety-accordion">
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFour">
                <h2 class="mb-0" >
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseone"
                    aria-expanded="true" aria-controls="collapseFour" >
                    01.Adolescent Reproductive Health (ARSH)
                  </button>
                </h2>
              </div>
  
              <div id="collapseone" class="collapse show" aria-labelledby="headingFour"
                data-parent="#safety-accordion">
               
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    02. HIV and AIDS management and care
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#safety-accordion">
               
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    03. Primary Health Care
                  </button>
                </h2>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                data-parent="#safety-accordion">
                
              </div>
            </div>
            <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseFour" aria-expanded="false" aria-controls="collapseSix">
                      04. Preventive Health Care
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                 
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#Five" aria-expanded="false" aria-controls="collapseSix">
                      05.Management of chronic conditions
                    </button>
                  </h2>
                </div>
                <div id="Five" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  
                </div>
              </div>
          
          </div>
  
  
      </div><!-- Main row end -->
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->
  