<div id="banner-area" class="banner-area" style="background-image:url(assets/images/h.jpeg)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Campus Life</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page" >Campus Life</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
<section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
        <h3 class="widget-title" style="color: #24b0ed;">Welcome</h3>
        <p style="text-align: justify;font-size: 14px;" >Welcome to the Section of campus life and Student Development Programmes. The main aim of campus life is to create a living and learning environment which addresses the quality of life for students. Our mandate is to provide the housing services which are comfortable and enhance personal growth. The department also strives to provide social and educational programmes and services such as counselling and providing disciplinary policies to ensure peace, order and interaction</p>
        
        <br>
        <div class="accordion accordion-group accordion-classic" id="safety-accordion">
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFour">
                <h2 class="mb-0" >
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseone"
                    aria-expanded="true" aria-controls="collapseFour" >
                    01. Acomodation
                  </button>
                </h2>
              </div>
  
              <div id="collapseone" class="collapse show" aria-labelledby="headingFour"
                data-parent="#safety-accordion">
                <div class="card-body"  style="font-size: 13px;text-align: justify;width: 500px;" >
                    Our Accommodation capacity is only 1200 slots with the first priority given to 1.1 students followed by 1.2 students. The rest of the students apply online on a first come first serve basis if there are any remaining slots. The governing instrument for all students is the Student Handbook (pay particular attention to Ordinance.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    02. Accommodation Fees for Conventional Students
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#safety-accordion">
                <div class="card-body" style="font-size: 13px;text-align: justify;">
                    Single Room & Double Room, link to room prices.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    03. Accommodation Fees for Block Release Students
                  </button>
                </h2>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                data-parent="#safety-accordion">
                <div class="card-body" style="font-size: 13px;text-align: justify;">
                    click this link to see prices per day, with and without linen,
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseFour" aria-expanded="false" aria-controls="collapseSix">
                      04. Student Development Programmes
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;width: 500px;">
                    A variety of services and programmes are offered to develop a holistic student even outside the classroom. These programmes include the following: Student Leadership Training, Interview Techniques, Orientation programmes, Career guidance, Stress management and Community Service
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#Five" aria-expanded="false" aria-controls="collapseSix">
                      05. Clubs And Societies
                    </button>
                  </h2>
                </div>
                <div id="Five" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;width: 500px;">
                    There are more than 25 Clubs, Societies and Associations on Campus some of which are: Zimbabwe Institute of Engineers (Chinhoyi University Chapter), Chinhoyi University Hospitality and Tourism Association, Debate Club, Toastmasters Club, BOOST/SIFE, Rotary Club, Road Safety Club, CUT Arts Forum, Symposium, Open Mind, Choir, Biotechnology Association and Indigenous Business Group.etc. How To Start A Club The following documents can be downloaded for the benefit of those who want to start a club on Campus Clubs and Societies manual, Registration form and Report writing format. Please download CUT clubs & societies registration form CUT clubs end of semester report CUT Organisations Manual.


                  </div>
                </div>
              </div>
          
          </div>
  
  
      </div><!-- Main row end -->
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->
  