<div id="banner-area" class="banner-area" style="background-image:url(assets/images/din.jpeg)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Campus Life</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page" >Canteen Services</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
<section id="main-container" class="main-container">
    <div class="container">
      <div class="row">
        <h3 class="widget-title" style="color: #24b0ed;">Welcome</h3>
        <p style="text-align: justify;font-size: 14px;" >Welcome to the Section of Catering Services. The Department timeously prepares and serves a variety of affordable, nutritious and balanced meals to students and strives to provide quality service and meals to the Chinhoyi University of Technology community at large. We also provide catering for university special functions and community functions.</p>
        
        <br>
        <div class="accordion accordion-group accordion-classic" id="safety-accordion">
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFour">
                <h2 class="mb-0" >
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseone"
                    aria-expanded="true" aria-controls="collapseFour" >
                    01. Breakfast
                  </button>
                </h2>
              </div>
  
              <div id="collapseone" class="collapse show" aria-labelledby="headingFour"
                data-parent="#safety-accordion">
                <div class="card-body"  style="font-size: 13px;text-align: justify;width: 400px;" >
                    Tea, Coffee, Bread (4 slices), spread (jam, margarine, peanut butter), eggs, liver, beans.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    02.  Lunch and dinner
                  </button>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#safety-accordion">
                <div class="card-body" style="font-size: 13px;text-align: justify;width: 400px;">
                    Starch, sadza, spaghetti, mashed potatoes, yellow potatoes, braiced rice, macaroni, rice in peanut butter, sadza rezviyo, brown rice Meats/ proteins; beef (stewed, roast), chicken (crumbed, roast, marinated), fish (crumbed, fried), maguru, matumbu, Mazondo, matemba, chunks, beans, patties, omelet, vegetable augratin, Vegetable/ salads, fried rap e/covo/spinach, mixed veg, stir fried cabbage, green salad, coleslaw salad, butternuts Dessert ;maheu, sweets, jelly, custard pudding,
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    03. Special diets
                  </button>
                </h2>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                data-parent="#safety-accordion">
                <div class="card-body" style="font-size: 13px;text-align: justify;width: 400px;">
                    We cater for vegeterians, diabetic, hypertensive clients, gastric conditions, Meals are designed according to individual needs
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseFour" aria-expanded="false" aria-controls="collapseSix">
                      04. Fast foods
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;width: 400px;">
                    Chips and chicken, beef burger, samosas, hot dog
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#Five" aria-expanded="false" aria-controls="collapseSix">
                      05. Eating Time & Prices
                    </button>
                  </h2>
                </div>
                <div id="Five" class="collapse" aria-labelledby="headingSix"
                  data-parent="#safety-accordion">
                  <div class="card-body" style="font-size: 13px;text-align: justify;width: 400px;">
                    Breakfast: 0700hrs-0800hrs
                    Lunch and Dinner: 1100hrs – 1900hrs (express service).

                  </div>
                </div>
              </div>
          
          </div>
  
  
      </div><!-- Main row end -->
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->
  