<div class="banner-carousel banner-carousel-2 mb-0">
    <div class="banner-carousel-item" style="background-image:url(assets/images/p.jpeg)">
      <div class="container">
          <div class="box-slider-content">
            <div class="box-slider-text">
                
                <h2 class="box-slide-sub-title" >CUT Student-Affairs</h2>
                <p class="box-slide-description">You have ideas, goals, and dreams. We have a culturally diverse, forward
                  thinking team looking for talent like.</p>
                <p>
                  <a href="services.html" class="slider btn btn-primary">Our Sections</a>
                </p>
            </div>
          </div>
      </div>
    </div>
  
    <div class="banner-carousel-item" style="background-image:url(assets/images/h.jpeg)">
      <div class="slider-content text-left">
          <div class="container">
            <div class="box-slider-content">
                <div class="box-slider-text">
                    <h2 class="box-slide-sub-title">CUT Student-Affairs</h2>
               
                  <p class="box-slide-description">You have ideas, goals, and dreams. We have a culturally diverse, forward
                      thinking team looking for talent like.</p>
                  <p><a href="about.html" class="slider btn btn-primary" aria-label="about-us">Our Sections</a></p>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>