<div id="banner-area" class="banner-area" style="background-image:url(assets/images/cn.png)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title">Our Team</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a (click)="click()">Home</a></li>
                   
                        <li class="breadcrumb-item active" aria-current="page">Our Team</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
  
  
  <section id="main-container" class="main-container pb-4">
    <div class="container">
     
      <!--/ Title row end -->
  
  
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
          <div class="ts-team-wrapper">
            <div class="team-img-wrapper">
              <img loading="lazy" src="assets/images/team/avatar.jpg" class="img-fluid" alt="team-img">
            </div>
            <div class="ts-team-content-classic">
              <h3 class="ts-name">Mr T .Sengerai</h3>
              <p class="ts-designation">Dean, Department of Student Affairs</p>
             
              <p class="ts-description">Contact Details:<br>
                Email: tsengerai@cut.ac.zw

                Cell: +263772353100</p>
              <div class="team-social-icons">
                <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <!--/ social-icons-->
            </div>
          </div>
          <!--/ Team wrapper 3 end -->
        </div><!-- Col end -->
  
        <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
            <div class="ts-team-wrapper">
              <div class="team-img-wrapper">
                <img loading="lazy" src="assets/images/team/avatar.jpg" class="img-fluid" alt="team-img">
              </div>
              <div class="ts-team-content-classic">
                <h3 class="ts-name">Mr G .Chikuya</h3>
                <p class="ts-designation">A/Director, Off Campus Life and Student Development</p>
               
                <p class="ts-description">Contact Details:<br>
                    Email: gchikuya@cut.ac.zw
                    Cell: 0773714465, 075468067,</p>
                <div class="team-social-icons">
                  <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <!--/ social-icons-->
              </div>
            </div>
            <!--/ Team wrapper 3 end -->
          </div><!-- Col end -->
  
          <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
            <div class="ts-team-wrapper">
              <div class="team-img-wrapper">
                <img loading="lazy" src="assets/images/team/cann.png" class="img-fluid" alt="team-img">
              </div>
              <div class="ts-team-content-classic">
                <h3 class="ts-name">Ms. N. Misingarabwi</h3>
                <p class="ts-designation">Canteen Manager</p>
               
                <p class="ts-description">Contact Details:<br>
                    Email: nmisinga@gmail.com Cell: +263773909162</p>
                <div class="team-social-icons">
                  <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <!--/ social-icons-->
              </div>
            </div>
            <!--/ Team wrapper 3 end -->
          </div><!-- Col end --><!-- Col end -->
          <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
            <div class="ts-team-wrapper">
              <div class="team-img-wrapper">
                <img loading="lazy" src="assets/images/team/bande.png" class="img-fluid" alt="team-img">
              </div>
              <div class="ts-team-content-classic">
                <h3 class="ts-name">
                    Ms Lynette Bande</h3>
                <p class="ts-designation">Senior Nursing Sister, Students Health Services</p>
               
                <p class="ts-description">Contact Details:<br>
                    Email: clinic@cut.ac.zw Cell: +263772910284, landline 02672127445</p>
                <div class="team-social-icons">
                  <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <!--/ social-icons-->
              </div>
            </div>
            <!--/ Team wrapper 3 end -->
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
            <div class="ts-team-wrapper">
              <div class="team-img-wrapper">
                <img loading="lazy" src="assets/images/team/lb.png" class="img-fluid" alt="team-img">
              </div>
              <div class="ts-team-content-classic">
                <h3 class="ts-name">
                    Liberty Maidza</h3>
                <p class="ts-designation">Director, Sports, Culture and Recreation</p>
               
                <p class="ts-description">Contact Details:<br>
                    Email: lmaidza@cut.ac.zw, sports@cut.ac.zw Cell: +263672122203-5 ext1284

                </p>
                <div class="team-social-icons">
                  <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <!--/ social-icons-->
              </div>
            </div>
            <!--/ Team wrapper 3 end -->
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
            <div class="ts-team-wrapper">
              <div class="team-img-wrapper">
                <img loading="lazy" src="assets/images/team/mateva.png" class="img-fluid" alt="team-img">
              </div>
              <div class="ts-team-content-classic">
                <h3 class="ts-name">
                    Rev Amos Mateva</h3>
                <p class="ts-designation">Chaplain</p>
               
                <p class="ts-description">Contact Details:<br>
                    Cell: +263712349711/ 0775354771 amateva@cut.ac.zw

                </p>
                <div class="team-social-icons">
                  <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <!--/ social-icons-->
              </div>
            </div>
            <!--/ Team wrapper 3 end -->
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
            <div class="ts-team-wrapper">
              <div class="team-img-wrapper">
                <img loading="lazy" src="assets/images/team/makumbi.png" class="img-fluid" alt="team-img">
              </div>
              <div class="ts-team-content-classic">
                <h3 class="ts-name">
                    Mrs N Makumbi</h3>
                <p class="ts-designation">Director, Guidance and Counselling</p>
               
                <p class="ts-description">Contact Details:<br>
                    Email: norusike@gmail.com or nrusike@cut.ac.zw



                </p>
                <div class="team-social-icons">
                  <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <!--/ social-icons-->
              </div>
            </div>
            <!--/ Team wrapper 3 end -->
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
            <div class="ts-team-wrapper">
              <div class="team-img-wrapper">
                <img loading="lazy" src="assets/images/team/zembe.png" class="img-fluid" alt="team-img">
              </div>
              <div class="ts-team-content-classic">
                <h3 class="ts-name">
                    Mrs W Zembe</h3>
                <p class="ts-designation">Rehabilitation and Life Skills Officer, Substance Abuse Section</p>
               
                <p class="ts-description">Contact Details:<br>
                    Email: winniezembe@gmail.com Cell: +263 773984668/0718687419



                </p>
                <div class="team-social-icons">
                  <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <!--/ social-icons-->
              </div>
            </div>
            <!--/ Team wrapper 3 end -->
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
            <div class="ts-team-wrapper">
              <div class="team-img-wrapper">
                <img loading="lazy" src="assets/images/team/lilian.png" class="img-fluid" alt="team-img">
              </div>
              <div class="ts-team-content-classic">
                <h3 class="ts-name">
                    Ms Lilian Mukandabvute</h3>
                <p class="ts-designation">Rehabilitation and Life Skills Officer, Substance Abuse Section</p>
               
                <p class="ts-description">Contact Details:<br>
                    Email: lmukandabvute@cut.ac.zw Phone: +263 0773593222 – landline – 02672127444 Ext. 1173



                </p>
                <div class="team-social-icons">
                  <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                  <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <!--/ social-icons-->
              </div>
            </div>
            <!--/ Team wrapper 3 end -->
          </div>
        
      </div><!-- Content row end -->
  
    </div><!-- Container end -->
  </section><!-- Main container end -->