<div id="banner-area" class="banner-area" style="background-image:url(assets/images/r.jpg)">
    <div class="banner-text">
      <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="banner-heading">
                  <h1 class="banner-title"> Chaplaincy</h1>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a routerLink="home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page" >Chaplaincy Services</li>
                      </ol>
                  </nav>
                </div>
            </div><!-- Col end -->
          </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Banner text end -->
  </div><!-- Banner area end --> 
 
<section id="main-container" class="main-container">
    <div class="container">
    <h2 style="color: #24b0ed;">Welcome</h2>
      <div class="row">
       
        <br>
        <p style="text-align: justify;font-size: 17px;" >Chaplaincy seeks to meet the spiritual and psychological needs of the University community through the provision of the following:.</p>
        
        <br>
        <div class="accordion accordion-group accordion-classic" id="safety-accordion">
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFour">
                <h2 class="mb-0" >
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseone"
                    aria-expanded="true" aria-controls="collapseFour" >
                    01.Pastoral care, prayer and counselling of both staff and students.
                  </button>
                </h2>
              </div>
  
           
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingFive">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    02. Registration and Coordination of all religious activities on Campus
                  </button>
                </h2>
              </div>
             
            </div>
            <div class="card">
              <div class="card-header p-0 bg-transparent" id="headingSix">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    03. Developing and promoting values of 'Ubuntu' through love, tolerance and integrity in the community
                  </button>
                </h2>
              </div>
             
            </div>
            <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseFour" aria-expanded="false" aria-controls="collapseSix">
                      04. Mitigate students and staff hardship
                    </button>
                  </h2>
                </div>
              
              </div>
            
          
          </div>
  
  
      </div><!-- Main row end -->
    </div><!-- Conatiner end -->
  </section><!-- Main container end -->
  