<div class="banner-carousel banner-carousel-2 mb-0">
    <div class="banner-carousel-item" style="background-image:url(assets/images/sl.png)">
      <div class="container">
          <div class="box-slider-content">
            <div class="box-slider-text">
                
                <h2 class="box-slide-sub-title">CUT Student-Affairs</h2>
               
                <p>
                  <a routerLink="about" class="slider btn btn-primary">About | Us</a>
                </p>
            </div>
          </div>
      </div>
    </div>
  
    <div class="banner-carousel-item" style="background-image:url(assets/images/h.jpeg)">
      <div class="slider-content text-left">
          <div class="container">
            <div class="box-slider-content">
                <div class="box-slider-text">
                    <h2 class="box-slide-sub-title">CUT Student-Affairs</h2>
               
                  <p><a routerLink="staff" class="slider btn btn-primary" aria-label="about-us">Our | Staff</a></p>
                </div>
            </div>
          </div>
      </div>
    </div>
  </div>
<section class="call-to-action no-padding">
    <div class="container">
      <div class="action-style-box">
          <div class="row">
            <div class="col-md-8 text-center text-md-left">
                <div class="call-to-action-text">
                  <h1 class="action-title">Our Sections</h1>
                </div>
            </div><!-- Col end -->
            <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                <div class="call-to-action-btn">
                  <!-- <a class="btn btn-primary" routerLink="about">About | Us</a> -->
                </div>
            </div><!-- col end -->
          </div><!-- row end -->
      </div><!-- Action style box -->
    </div><!-- Container end -->
  </section><!-- Action end -->
    
  <section id="news" class="news">
    <div class="container">
      <div class="row text-center">
          <div class="col-12">
         
          </div>
      </div>
      <!--/ Title row end -->
  
      <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <a routerLink="/campus">
                <div class="latest-post">
                <div class="latest-post-media">
                  <a routerLink="campus" class="latest-post-img">
                      <img loading="lazy" class="img-fluid" src="assets/images/h.jpeg" alt="img">
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                      <a routerLink="/campus" class="d-inline-block" style="color: #24b0ed;">Campus life</a>
                  </h4>
                  
                </div>
            </div></a><!-- Latest post end -->
          </div><!-- 1st post col end -->
  
          <div class="col-lg-4 col-md-6 mb-4">
            <a routerLink="/offcampus">
                <div class="latest-post">
                    <div class="latest-post-media">
                      <a routerLink="/offcampus" class="latest-post-img">
                          <img loading="lazy" class="img-fluid" src="assets/images/cta-bg.jpg" alt="img">
                      </a>
                    </div>
                    <div class="post-body">
                      <h4 class="post-title">
                          <a routerLink="/offcampus" class="d-inline-block" style="color: #24b0ed;">Off Campus Life</a>
                      </h4>
                      
                    </div>
                </div><!-- Latest post end -->
            </a>
          </div><!-- 2nd post col end -->
  
          <div class="col-lg-4 col-md-6 mb-4">
           <a routerLink="/canteen">
            <div class="latest-post">
                <div class="latest-post-media">
                  <a routerLink="/canteen"class="latest-post-img">
                      <img loading="lazy" class="img-fluid" src="assets/images/din.jpeg" alt="img">
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                      <a routerLink="/canteen" class="d-inline-block" style="color: #24b0ed;">Canteen</a>
                  </h4>
                 
                </div>
            </div><!-- Latest post end -->
           </a>
          </div><!-- 3rd post col end -->
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <a routerLink="/healthy">
            <div class="latest-post">
                <div class="latest-post-media">
                  <a routerLink="/healthy" class="latest-post-img">
                      <img loading="lazy" class="img-fluid" src="assets/images/clinic.jpeg" alt="img">
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                      <a routerLink="/healthy" class="d-inline-block" style="color: #24b0ed;">Clinic</a>
                  </h4>
               
                </div>
            </div><!-- Latest post end -->
          </a>
        </div><!-- 1st post col end -->

        <div class="col-lg-4 col-md-6 mb-4">
          <a routerLink="/chaplaincy">
            <div class="latest-post">
                <div class="latest-post-media">
                  <a routerLink="/chaplaincy"class="latest-post-img">
                      <img loading="lazy" class="img-fluid" src="assets/images/r.jpg" alt="img">
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                      <a routerLink="/chaplaincy" class="d-inline-block" style="color: #24b0ed;">Chaplaincy</a>
                  </h4>
          
                </div>
            </div><!-- Latest post end -->
          </a>
        </div><!-- 2nd post col end -->

        <div class="col-lg-4 col-md-6 mb-4">
          <a routerLink="/sports">
            <div class="latest-post">
                <div class="latest-post-media">
                  <a routerLink="/sports" class="latest-post-img">
                      <img loading="lazy" class="img-fluid" src="assets/images/sp.jpeg" alt="img">
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                      <a routerLink="/sports" class="d-inline-block" style="color: #24b0ed;">Sports & Recreation</a>
                  </h4>
                
                </div>
            </div><!-- Latest post end -->
          </a>
        </div><!-- 3rd post col end -->
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <a routerLink="/substance">
            <div class="latest-post">
                <div class="latest-post-media">
                  <a  routerLink="/substance" class="latest-post-img">
                      <img loading="lazy" class="img-fluid" src="assets/images/sk.jpg" alt="img">
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                      <a  routerLink="/substance" class="d-inline-block" style="color: #24b0ed;">Substance Abuse</a>
                  </h4>
               
                </div>
            </div><!-- Latest post end -->
          </a>
        </div><!-- 1st post col end -->

      
    </div>
  
    </div>
    <!--/ Container end -->
  </section>
  <!--/ News end -->